$body-ff: "Oswald", sans-serif;
$btn-ff: "Open Sans", sans-serif;

$body-color: #f7f8f3;
$links-color: #f6f8f9;
$primary-color: #1c1c1b;
$secondary-color: #6e774a;
$dark-gray: #666666;
$medium-gray: #898f8f;
$light-gray: #cccccc;

$body-bg: $body-color;

$border-width: 1px;
